[mysqld]

#The user of the operating system that will run the database process
user = mysql

#File that stores the process ID (PID) of the running process
pid-file = /run/mysqld/mysqld.pid

# Where the MariaDB linten on the internal network
bind-adress = 0.0.0.0

#Default  communication port for MariaDB / MySQL
port = 3306

# The internal physical directory where tha actual database data is stored
datadir = /var/lib/mysql

# Where the local socket file will be created
socket = /run/mysqld/mysqld.sock